{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="{% static 'main/css/todo_list.css' %}">
</head>
<body>
   <header>
            <div id="head">BFDjango TODO</div>
   </header>
        <div class="content">
            <div class="main-content">
                <div>
                    <button id="add-button">Add Task</button>
                </div>
                <div class="list">
                    <h1>Tasks in "List1"</h1>
                </div>
                <table>
                        <tr class="list" id="column" >
                           <td>Task</td>
                           <td>Created</td>
                           <td>Due on</td>
                           <td>Owner</td>
                           <td>Mark</td>
                        </tr>
                        {% for task in tasks %}
                            {% if task.Mark %}
                                <tr class="list">
                                    <td id="task"> {{ task.Task }}</td>
                                    <td> {{ task.Created }}</td>
                                    <td> {{ task.Due_on }}</td>
                                    <td> {{ task.Owner }}</td>
                                    <td> <button id="mark">Done</button> </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                <div>
                    <button id="view">View completed tasks</button>
                    <button id="delete">Delete this List</button>
                </div>
            </div>
        </div>
</body>
</html>
