/**{*/
/*    font-family: "Calibri Light", serif;*/
/*}*/
/*body {*/
/*    margin: 0;*/
/*}*/

/*.header{*/
/*    background-color: black;*/
/*    color: rgba(240, 255, 255, 0.72);*/
/*    font-size: 10px;*/
/*    padding: 10px;*/
/*}*/
/* h2{*/
/*     margin-left: 10px;*/
/* }*/
/*. contend1{*/
/*    position: absolute;*/
/*    width: 80vw;*/
/*    height: 60vh;*/
/*    margin: auto;*/
/*}*/

/*.content2 {*/
/*    position: relative;*/
/*    top: 10vh;*/
/*    width: 80%;*/
/*    margin: auto ;*/
/*}*/

/*.add-button{*/

/*    background-color: dodgerblue;*/
/*    color: azure;*/
/*    border-color: transparent;*/
/*    border-radius: 3px;*/
/*    margin-top: 10px;*/
/*}*/
/*.htasks{*/
/*    border-top: 1px solid rgb(0, 0, 0);*/
/*}*/
/*td, tr,th {*/
/*    text-align: left;*/
/*    padding: 20px;*/
/*}*/



/*#view{*/
/*    background-color: orange;*/
/*    border-radius: 3px;*/
/*    height: 20px;*/
/*    border-color: transparent;*/
/*}*/

/*#delete{*/

/*    background-color: red;*/
/*    color: aliceblue;*/
/*    border-radius: 3px;*/
/*    height: 20px;*/
/*    border-color: transparent;*/
/*}*/



/*td{*/
/*    border-top: 1px solid #ccc;*/
/*    width: 24%;*/
/*}*/
/*th{*/
/*    border-top: 1px solid #ccc;*/
/*}*/

/*.tasks{*/
/*    color: dodgerblue;*/
/*}*/

/*.mark{*/
/*    background-color: #3bcbcb;*/
/*    border-radius: 3px;*/
/*    text-align: center;*/
/*    width: 50px;*/
/*    height: 25px;*/
/*    color: aliceblue;*/
/*}*/

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}
button:hover {
    transition: 0.3s;
    cursor: pointer;
}
button:focus {
    outline: none;
}
#add {
    background-color: #157FFB;
    border: 1px solid #1670DA;
    color: #FCFBFF;
    margin-bottom: 25px;
}
#add:hover {
    background-color: #1665C2;
}
#view {
    background-color: #FDC02F;
    border: 1px solid #F2B526;
    color: #061210;
}
#view:hover {
    background-color: #EAAF27;
}
#delete {
    background-color: #D63647;
    border: 1px solid #C73E4D;
    color: #FDF8F9;
}
#delete:hover {
    background-color: #B12C3B;
}
#mark {
    background-color: #229AAE;
    border: 1px solid #248393;
    color: #FAFCFB;
}
#mark:hover {
    background-color: #277A88;
}
header {
    background-color: #202327;
    color: white;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}
span {
    padding-left: 25px;
    font-weight: bolder;
}
#parent_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#content {
    min-width: 75%;
}
table {
    width: 100%;
    margin-bottom: 25px;
}
tr {
    padding-top: 5px;
    padding-bottom: 5px;
}
tr.line td, .line{
    border-top: 1px solid #d9d9d9;
    padding-top: 25px;
}